@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="main-footer  navbar-purple navbar-light">

    <!-- Default to the left -->
    <center>
        Copyright <strong> &copy; TIHDTCB @DateTime.Now.Year </strong> All rights reserved.
    </center>
    <!-- To the right -->
    @*<div class="float-left d-none d-sm-inline">
    </div>*@

</footer>