@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectManagement</title>
    <link href="~/Dashboard/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Dashboard/dist/css/adminlte.css">

    <link rel="stylesheet" type="text/css" href="~/js/DataTables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/js/DataTables/datatables.css" />

    <link rel="stylesheet" href="/js/sweetalert2/dist/sweetalert2.min.css">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed accent-purple">
    <div class="wrapper">

        <div class="content-wrapper">
            @RenderBody()
        </div>


    </div>
    <div class="footer">
        <partial name="_Footer" />
    </div>
    <script src="~/Dashboard/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Dashboard/dist/js/adminlte.min.js"></script>
    <script src="~/Dashboard/plugins/overlayScrollbars/js/OverlayScrollbars.min.js"></script>

    <script type="text/javascript" src="~/js/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/DataTables/datatables.js"></script>

    @*Sweet Alert 2:*@
    <script src="~/js/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/sweetalert2/dist/sweetalert2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>

