
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-purple elevation-4">
        <!-- Brand Logo -->
        <p href="#" class="brand-link">
            @*<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
            <span class="brand-text font-weight-light">Project Management System</span>
        </p>

        <!-- Sidebar -->
        <div class="sidebar">
            <!--Sidebar user panel (optional)-->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/Dashboard/dist/img/m.jpeg" class="img-lg elevation-4" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Powered By <b>Mahedi</b></a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item"><a href="~/InitialNoteSheet/Index" class="nav-link active"><i class="nav-icon fas fa-arrow-circle-right"></i><p> Initial Note Sheet</p></a></li>
                    @*<li class="nav-item"><a href="#" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> Tech Spec Committee</p></a></li>
        <li class="nav-item"><a href="#" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> Cost Estimation</p></a></li>*@
                    <li class="nav-item"><a href="~/InvitationForTender/Index" class="nav-link active"><i class="nav-icon fas fa-archive"></i><p> Invitation for Tender</p></a></li>
                    <li class="nav-item"><a href="~/TenderOpening/Index" class="nav-link active"><i class="nav-icon fas fa-award"></i><p> Tender Opening</p></a></li>
                    <li class="nav-item"><a href="#" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> Evolution</p></a></li>
                    <li class="nav-item"><a href="~/FinalApproval/Index" class="nav-link active"><i class="nav-icon fas fa-barcode"></i><p> Final Approval</p></a></li>
                    <li class="nav-item"><a href="~/Noa/Index" class="nav-link active"><i class="nav-icon fas fa-calendar"></i><p> NOA</p></a></li>
                    <li class="nav-item"><a href="#" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> NOA Acceptance</p></a></li>
                    <li class="nav-item"><a href="~/PgVerification/Index" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> PG+PG Verification</p></a></li>
                    <li class="nav-item"><a href="~/PO/Index" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> PO</p></a></li>
                    <li class="nav-item"><a href="~/PI/Index" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> PI</p></a></li>
                    <li class="nav-item"><a href="~/LC/Index" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> LC</p></a></li>
                    <li class="nav-item"><a href="~/PSI/Index" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> PSI</p></a></li>
                    <li class="nav-item"><a href="#" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> Shipment</p></a></li>
                    <li class="nav-item"><a href="#" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> Provisional Acceptence</p></a></li>
                    <li class="nav-item"><a href="#" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> Final Acceptence</p></a></li>
                    <li class="nav-item"><a href="#" class="nav-link active"><i class="nav-icon fas fa-th"></i><p> Warranty</p></a></li>


                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
