

<center>
    <div class="alert alert-default-primary alert-dismissible col-md-6">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>

        <strong>@ViewBag.Message</strong> 

        <a style="color:dodgerblue" asp-action="Index">Go Back to List  <span><i class="fa fa-arrow-right"></i></span> </a>
    </div>
</center>
