@model ProjectManagement.ViewModel.ProjectViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />


@if (ViewBag.Message != null)
{
    <partial name="Message" />
}
<center>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header p-2"><h1><b>Create New Project</b></h1> </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <form method="post" enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Item Name</label>
                            <input asp-for="ProjectName" class="form-control col-md-6" />
                            <span asp-validation-for="ProjectName" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">PGD/ PWD No</label>
                            <input asp-for="PgdNo" class="form-control col-md-6" />
                            <span asp-validation-for="PgdNo" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Lot No</label>
                            <input asp-for="LotNo" class="form-control col-md-6" />
                            <span asp-validation-for="LotNo" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">RDPP Budget (BDT)</label>
                            <input asp-for="RDPPBudget" class="form-control col-md-6" /> 
                            <span asp-validation-for="RDPPBudget" class="text-danger"></span>
                        </div>
                        @*<div class="form-group row">
                            <label class="control-label col-md-3">Project Final Budget</label>
                            <input asp-for="ProjectFinalBudget" class="form-control col-md-6" /> BDT
                            <span asp-validation-for="ProjectFinalBudget" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Project Start Date</label>
                            <input asp-for="ProjectStartDate" class="form-control col-md-6" />
                            <span asp-validation-for="ProjectStartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Project End Date</label>
                            <input asp-for="ProjectEndDate" class="form-control col-md-6" />
                            <span asp-validation-for="ProjectEndDate" class="text-danger"></span>
                        </div>*@
                        <div class="form-group row">
                            <label class="control-label col-md-3">Description</label>
                            <input asp-for="ProjectDescription" class="form-control col-md-6" />
                            <span asp-validation-for="ProjectDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Project Attachment</label>
                            <input type="file" name="ProjectAttachment" id="ProjectAttachment" class="form-control col-md-6" />
                            <span asp-validation-for="ProjectAttachment" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Project User</label>
                            <select class="form-control col-md-6" asp-for="BureauId" asp-items="@(new SelectList(@ViewBag.BureauList,"BureauId","BureauName"))">
                                <option value="" selected disabled> Please Select a Bureau</option>
                            </select>
                            <span asp-validation-for="BureauId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index">Project List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


