@model ProjectManagement.ViewModel.ProjectViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectInitialBudget" class="control-label"></label>
                <input asp-for="ProjectInitialBudget" class="form-control" />
                <span asp-validation-for="ProjectInitialBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectFinalBudget" class="control-label"></label>
                <input asp-for="ProjectFinalBudget" class="form-control" />
                <span asp-validation-for="ProjectFinalBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectStartDate" class="control-label"></label>
                <input asp-for="ProjectStartDate" class="form-control" />
                <span asp-validation-for="ProjectStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectEndDate" class="control-label"></label>
                <input asp-for="ProjectEndDate" class="form-control" />
                <span asp-validation-for="ProjectEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDescription" class="control-label"></label>
                <input asp-for="ProjectDescription" class="form-control" />
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectAttachment" class="control-label"></label>
                <input asp-for="ProjectAttachment" class="form-control" />
                <span asp-validation-for="ProjectAttachment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BureauId" class="control-label"></label>
                <select asp-for="BureauId" class ="form-control" asp-items="ViewBag.BureauId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

