

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content form-group">
    <div class="card card-solid">
        <!-- Default box -->
        <div class="row">
            <partial name="~/Views/ProjectView/Project.cshtml" />            
            <partial name="~/Views/ProjectView/InitialNoteSheet.cshtml" />            
            <partial name="~/Views/ProjectView/InviationForTender.cshtml" />            
        </div>
    </div>

</section>