

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="content form-group">
        <div class="card card-solid">
            <!-- Default box -->
            <center>
                <partial name="~/Views/ProjectView/InviationForTender.cshtml" />
            </center>
        </div>
    </section>
