@model ProjectManagement.ViewModel.LcViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <partial name="Message" />
}
<center>
    <div class="col-md-10">
        <div class="card">
            <hr />
            <div class="card-header p-2"><h1><b>Create LC</b></h1> </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <form asp-action="Create" method="post" enctype="multipart/form-data">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">Project Name</label>
                            <select asp-for="ProjectId" class="form-control col-md-6" asp-items="@(new SelectList(@ViewBag.ProjectList,"ProjectId","ProjectName"))">
                                <option value="" selected disabled> Please Select a Project</option>
                            </select>
                            <span asp-validation-for="ProjectId" class="col-md-3 text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">PG Date</label>
                            <input asp-for="LcopeningDate" class="form-control col-md-6" />
                            <span asp-validation-for="LcopeningDate" class="col-md-3 text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">Nominated Bank</label>
                            <input asp-for="NominatedBank" class="form-control col-md-6" type="text" />
                            <span asp-validation-for="NominatedBank" class="col-md-3 text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">Payment Process</label>
                            <input asp-for="PaymentProcess" class="form-control col-md-6" type="text" />
                            <span asp-validation-for="PaymentProcess" class="col-md-3 text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">Attachment</label>
                            <input asp-for="LCAttachmentFile" type="file" class="form-control col-md-6" />
                            <span asp-validation-for="LCAttachmentFile" class="col-md-3 text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>

                    </form>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

