
<div class="col-md-8">
    <div class="card">
        <center>
            <div class="card-body">
                <div class="tab-content">
                    <table class="table table-bordered col-md-8">
                        <tbody>
                            <tr style="height:auto">
                                <td>
                                    <div>
                                        <b>1.</b>
                                        <div>
                                            December 08, 2021
                                            <br />
                                            Opening
                                            <br />
                                            <b>Initial Note Sheet</b>
                                            <br />
                                        </div>
                                    </div>
                                    <a href="#"> more</a>
                                </td>
                                <td>
                                    <div>
                                        <b>1.</b>
                                        <div>
                                            December 08, 2021
                                            <br />
                                            Opening
                                            <br />
                                            <b>Initial Note Sheet</b>
                                            <br />
                                        </div>
                                    </div>
                                    <a href="#"> more</a>
                                </td>
                                <td>
                                    <div>
                                        <b>1.</b>
                                        <div>
                                            December 08, 2021
                                            <br />
                                            Opening
                                            <br />
                                            <b>Initial Note Sheet</b>
                                            <br />
                                        </div>
                                    </div>
                                    <a href="#"> more</a>
                                </td>
                                <td>
                                    <div>
                                        <b>1.</b>
                                        <div>
                                            December 08, 2021
                                            <br />
                                            Opening
                                            <br />
                                            <b>Initial Note Sheet</b>
                                            <br />
                                        </div>
                                    </div>
                                    <a href="#"> more</a>
                                </td>
                            </tr>
                            <tr style="height:150px">
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                            </tr>
                            <tr style="height:150px">
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                            </tr>
                            <tr style="height:150px">
                                <td>4</td>
                                <td>4</td>
                                <td>4</td>
                                <td>4</td>
                            </tr>
                            <tr style="height:150px">
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                            </tr>
                        </tbody>


                    </table>

                </div>

            </div>
        </center>
    </div>
</div>
