
<div class="col-md-3">
    <div class="card">
        <center>
            <div class="card-header p-2" style="background-color: honeydew">
                <h4>@ViewBag.LC.LcopeningDate.ToString("dd MMM, yyyy")</h4>
            </div><!-- /.card-header -->
        </center>

        <div class="card-body">
                <div class="">
                    <b>LC</b>
                </div>                
        </div>

        <center>
            <div class="card-header p-2" style="background-color: honeydew">
                <div class="col-md-10">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                        <a href="@Url.Action("Index", "Lc", new { ProjectId = @ViewBag.LC.ProjectId })">
                            View Details <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div><!-- /.card-header -->
        </center>
    </div>
</div>
