
<div class="col-md-3">
    <div class="card">
        <center>
            <div class="card-header p-2" style="background-color: aliceblue">
                <h4>@ViewBag.PO.Podate.ToString("dd MMM, yyyy")</h4>
            </div><!-- /.card-header -->
        </center>
        <div class="card-body">
            <b>PO</b>
        </div>
        <center>
            <div class="card-header p-2" style="background-color: aliceblue">
                <a href='@Url.Action("Index", "PO" , new { ProjectId=@ViewBag.PO.ProjectId })'>
                    View Details <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div><!-- /.card-header -->
        </center>
    </div>
</div>
