
<div class="col-md-3">
    <div class="card">
        <center>
            <div class="card-header p-2" style="background-color: cornsilk">
                <h4>@ViewBag.TenderOpening.TenderOpeningDate.ToString("dd MMM, yyyy")</h4>
            </div><!-- /.card-header -->
        </center>

        <div class="card-body">
            <b>Tender Opening</b>
        </div>

        <center>
            <div class="card-header p-2" style="background-color: cornsilk">
                <div class="col-md-10">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="@Url.Action("Index", "TenderOpening", new { ProjectId = @ViewBag.TenderOpening.ProjectId })">
                        View Details <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- /.card-header -->
        </center>
    </div>
</div>
