
<div class="col-md-3">
    <div class="card">
        <center>
            <div class="card-header p-2">
                <h4>@ViewBag.InitialNS.InitialNoteSheetOpeningDate.ToString("dd MMM, yyyy")</h4>
            </div><!-- /.card-header -->
        </center>
        <div class="card-body">
            <div class="">
                <div class="col-md-10">
                    <b>Initial Notesheet</b>
                </div>
                <br />
                <div class="col-md-10">
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-controller="InitialNoteSheet" asp-action="Index"
                       class="small-box-footer btn btn-info">View Details  <span><i class="fas fa-arrow-circle-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
